.menuButton{
	font-weight: bold;
	font-size: 23px;
	top:10px;
	bottom: 10px;
}

#divTop {
	padding: 0;
	padding-left: 10px;
	margin: 0;
	position: absolute;
	top: 10px;
	left: 20px;
	right: 20px;
	height: 80px;
	overflow: hidden;
	background: #dddddd;
	border: 1px solid darkGray;
	font-size: 20px;
}

#divMain {
	padding: 0;
	padding-top: 10px;
	margin: 0;
	position: absolute;
    top:90px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	overflow: auto;
	border: thin solid lightGray;
	background: #fefeef;
}
